# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
execution1.py
execution2.py

# Python notebook
EEB279_Exercise_5.ipynb
EEB279_Exercise_5_JV.ipynb
CommunityLevelSelection_V6_Experiment1.ipynb
01-community_selection.Rmd
community_coalescence_3.ipynb
community_selection_f1_additive_function.ipynb
community_selection_f2_interactive_function.ipynb
community_selection_f3_binary.ipynb
community_selection_f4_interaction_binary.ipynb


# R documents
figure/*
data/*
*.Rproj
*.R
.Rhistory
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.html
*.nb.html
.DS_Store
data/* # Remove data
inst/* # Remov template
vignettes/*.html
vignettes/*.R
output/report/script/data/*
*.Rmd
script/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
CommunityLevelSelection_V6_Experiment2.ipynb

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.Rproj.user
