[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
community-simulator = {editable = true, git = "https://github.com/Emergent-Behaviors-in-Biology/community-simulator.git"}
ecoprospector = {editable = true, path = "."}

[requires]
python_version = "3.8"
